accelerate
altgraph
annotated-types
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
filelock
fsspec
grpcio
grpcio-health-checking
huggingface-hub
idna
Jinja2
langcodes
language_data
macholib
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
murmurhash
networkx
numpy
packaging
phonenumbers
preshed
presidio_analyzer
protobuf
psutil
pydantic
pydantic_core
Pygments
pyinstaller
pyinstaller-hooks-contrib
pytorch-crf
PyYAML
regex
requests
requests-file
rich
safetensors
shellingham
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
sympy
thinc
tldextract
tokenizers
torch
tqdm
transformers
typer
typing-inspection
typing_extensions
urllib3
wasabi
weasel
wrapt
pyinstaller
importlib-metadata