@import '../../base/variables';
@import '../../base/typography';

.main-container {
  display: flex;
  font-family: $font-family-base;
  flex-direction: column;
  padding: 35px;
}

.title {
  padding: 8px 0;
  @include paragraph-1;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.content-area {
  border: 1px solid $color-text-300;
  border-radius: 8px;
  flex: 1;
  display: flex;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.tab-content {
  width: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  position: absolute;
  pointer-events: none;
  background-color: $background-color;

  &.active {
    opacity: 1;
    transform: translateY(0);
    position: relative;
    pointer-events: auto;
  }
}
