@import '../../base/variables';
@import '../../base/typography';

.job-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.new-job-button {
  @include paragraph-5;
  margin-top: 12px;
  align-self: flex-end;
  padding: 8px 24px;
  margin-right: 16px;
  background-color: $color-text-100;
  color: $color-text-900;
  border: 1px solid $color-text-300;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $background-color;
  }
}