@import '../base/variables';
@import '../base/typography';

.copy-button-container {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.copy-button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: $color-text-500;
  transition: color 0.2s ease;

  &:hover {
    color: $input-box-primary;
  }
}

.tooltip {
  @include paragraph-5;
  position: absolute;
  top: 40%;
  right: calc(100% + 8px);
  transform: translateY(-50%);
  background-color: rgba($color-text-900, 0.5);
  color: $color-primary-100;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.fade-out {
    opacity: 0;
  }
}
